body{
	background-color: #fff;
	font-family: verdana;
}



h3{
	color:#f4541c;
	font-size: 1.3em;
}

h4{
	color:#43861e;
	font-size: 1.3em;
}

h5{
	color:#0371ca;
	font-size: 1.3em;
}

h6{
	color:#d3b810;
	font-size: 1.3em;
}

table{

}

td{

}

tr{

}

progress[value] {
    /* Elimino la apariencia por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     
    /* Quito el borde que aparece en Firefox */
    border: none;
 
    /* Añado mis propios estilos */
    width: 270px;
    height: 30px;
    overflow:hidden;
     
/*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
    border:1px inset #666;
    background-color:#D8D8D8;
    border-radius : 20px ;

}

progress::-webkit-progress-value {
    background: #FF8000;
    border-radius : 20px;  
}
 
progress::-webkit-progress-bar {
    background-color:#D8D8D8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; /*esta sombra es para simular el borde que he aplicado arriba para Mozilla*/
    border-radius : 20px ;         
}